/*test*/

.test {
  background-color: rgb(180, 223, 27);
}

.test1 {
  background-color: rgb(65, 241, 88);
}

.res-marg-pad {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-cont {
  margin-left: auto;
}

.header-nav,
.header-cont,
.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  padding: 25px 0;
  display: block;
}

.header-nav-static,
.header-cont-static {
  padding: 32px 0;
  display: block;
}

.header-nav .item:first-child {
  margin-right: 93px;
}

/*начиная с 2-ог елемента кроме последнего*/
.header-nav .item:nth-child(1n + 2):not(:last-child) {
  margin-right: 50px;
}

.header-cont .item:first-child {
  margin-right: 50px;
}

.main-hero {
  background-color: var(--bgr-hero-footer);
}

.main-hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 696px;
  margin: 0 auto;
}

.main-hero-bt {
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 30px;
}

.main-accomplishments {
  margin-top: 94px;
  min-height: 101px;
}

.main-accomplishments-ul {
  display: flex;
}

.main-accomplishments-ul .item {
  max-width: 270px;
}

.main-accomplishments-ul .item:not(:last-child) {
  margin-right: 30px;
}

.main-accomplishments-ul .item p {
  margin: 10px 0 0 0;
}

.main-employment {
  margin-top: 94px;
}

.main-employment-ul {
  display: flex;
  margin-top: 50px;
}

.main-employment-ul .item:not(:last-child) {
  margin-right: 30px;
}

.main-team {
  margin-top: 94px;
}

.main-team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-team-ul {
  display: flex;
  margin-top: 50px;
}

.main-team-ul .item:not(:last-child) {
  margin-right: 30px;
}

.main-team-ul .name {
  margin-top: 30px;
  text-align: center;
}

.main-team-ul .specialty {
  margin-top: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.main-team .item {
  background-color: var(--white-text);
  border-radius: 0px 0px 4px 4px;
}

.footer-address a {
  display: block;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  margin-top: 20px;
}

.footer-address a:not(:first-child) {
  margin-top: 9px;
}
